<div class="flex flex-col items-center mb-6">
  <div class="flex mb-2 justify-center align-middle">
    <div *ngIf="!editingTitle" (click)="onTitleClick()" class="cursor-pointer">
      <p class="text-2xl font-semibold text-primary">{{ book.title }}</p>
    </div>
    <input *ngIf="editingTitle" #titleInput [(ngModel)]="editableTitle" (blur)="onEscapePress()" 
           (keyup.enter)="onTitleEnter()" (keyup.escape)="onEscapePress()" class="form-input border border-border-color rounded py-1 px-2 text-xl bg-button text-primary">
  </div>
  <div class="flex gap-1">
    <app-button (click)="importFiles()" class="text-sm flex gap-2 font-bold">
      <fa-icon [icon]="faFileImport"></fa-icon>
      Import
    </app-button>
    <app-button (click)="addNewFile()" class="text-sm flex gap-2 font-bold">
      <fa-icon [icon]="faPlus"></fa-icon>
      New Chapter
    </app-button>
  </div>
</div>
