<div cdkDrag class="py-2 px-4 flex text-xs justify-between items-center bg-transparent font-semibold hover:bg-button-hover text-primary hover:text-primary-hover rounded hover:shadow-sm">
  <div class="flex items-center gap-1 flex-1">
    <button class="focus:outline-none" title="Drag File">
      <fa-icon [icon]="faGripVertical"></fa-icon>
    </button>
    
    <a class="w-full flex-1 flex gap-2 cursor-pointer" [routerLink]="['/book', bookId, 'chapter', chapter?.id]" routerLinkActive="active" *ngIf="!editingTitle"><fa-icon [icon]="faFileLines"></fa-icon>{{ chapter?.title }}</a>
    <input #titleInput *ngIf="editingTitle" [(ngModel)]="editableTitle" 
       (blur)="onEscapePress()" 
       (keyup.enter)="finishEditing()" 
       (keyup.escape)="onEscapePress()" 
       class="form-input border border-border-color rounded py-1 px-2 text-md bg-button text-primary">
  </div>
  <div class="flex items-center gap-2">
    <button (click)="confirmAndDeleteChapter(chapter?.id)" title="Delete File" class="focus:outline-none">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
    <button (click)="exportFile(chapter?.id)" title="Export File" class="focus:outline-none">
      <fa-icon [icon]="faFileExport"></fa-icon>
    </button>
    <button *ngIf="!editingTitle" (click)="startEditing()" title="Rename File" class="focus:outline-none">
      <fa-icon [icon]="faPencilAlt"></fa-icon>
    </button>
  </div>
</div>
