<div class="bg-gradient-to-r text-primary px-6 py-12 rounded-lg shadow-xl m-8 animate-fadeIn">
  <h1 class="text-4xl font-bold mb-6 flex gap-2 items-center">
    <fa-icon class="animate-wiggle" [icon]="faRobot"></fa-icon> About PseudoWrite <fa-icon [icon]="faPenNib"></fa-icon>
  </h1>
  <div class="space-y-4 ml-6">
    <p class="flex items-center gap-2">
      <fa-icon [icon]="faBook" class="text-xl animate-bounce"></fa-icon>
      Welcome to PseudoWrite, where your writing journey is assisted by cutting-edge AI technology...
    </p>
    <p class="flex items-center gap-2">
      <fa-icon [icon]="faCircleNotch" class="text-xl animate-spin"></fa-icon>
      Our AI-driven features provide personalized suggestions, plot development ideas...
    </p>
    <p class="flex items-center gap-2">
      <fa-icon [icon]="faUsers" class="text-xl"></fa-icon>
      Whether you're a seasoned author or just starting, PseudoWrite is here to support your creative journey...
    </p>
  </div>
</div>
