<div class="bg-white p-8 rounded-lg">
  <div class="flex justify-evenly"> 
    <div class="text-3xl text-center">Your Books</div>
    <button class="flex gap-2 justify-center align-middletext-sm px-6 py-2 bg-opacity-90 bg-gray-50 text-gray-800 rounded-lg shadow hover:bg-gray-200 focus:outline-none transition ease-in-out duration-300">
      <fa-icon [icon]="faPlus"></fa-icon>Create New Book</button>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6 m-4 bg-transparent rounded-lg">
    @for(book of books; track book.title){
      <app-book-card [book]="book"></app-book-card>
    }
    @empty {
    <div>No books available.</div>
    }
  </div>
</div>