<div class="bg-div text-primary px-4 flex justify-between items-center rounded-b-lg">
    <div class="flex items-center">
        <span class="text-xl font-bold mr-4"><a href="/home" class="hover:text-primary-hover">PseudoWrite</a></span>
        <nav>
            <ul class="flex">
                <li >
                    <a href="/explore" class="flex hover:text-primary-hover px-6 py-4 hover:bg-button-hover w-full h-full">Explore</a>
                </li>
                <li>
                    <a href="/about" class="flex hover:text-primary-hover px-6 py-4 hover:bg-button-hover w-full h-full">About</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="flex flex-column align-middle justify-center items-center gap-10">
      <app-theme-switch></app-theme-switch>
      <app-login></app-login>
    </div>
</div>
