<div class="bg-slate-200 text-gray-500 p-4 flex justify-between items-center shadow-lg rounded-b-lg">
    <div class="flex items-center">
        <span class="text-xl font-bold mr-4"><a href="/home" class="hover:text-slate-900">PseudoWrite</a></span>
        <nav>
            <ul class="flex">
                <li class="mr-6">
                    <a href="/explore" class="flex hover:text-slate-900">Explore</a>
                </li>
                <li>
                    <a href="/about" class="flex hover:text-slate-900">About</a>
                </li>
            </ul>
        </nav>
    </div>
    <app-login></app-login>
</div>
