<div class="grid-container grid grid-cols-10 gap-6 m-4 h-screen">
  <div class="col-span-2">
    <app-project></app-project>
  </div>
  <div class="col-start-3 col-span-6">
    <app-editor></app-editor>
  </div>
  <div class="col-start-9 flex flex-col gap-2 col-span-2">
    <button class="w-full text-md px-6 py-2 bg-button text-primary rounded shadow hover:bg-button-hover hover:text-primary-hover hover:shadow-lg focus:outline-none active:bg-button-active transition ease-in-out duration-300">Generate Chapter</button>
    <button class="w-full text-md px-6 py-2 bg-button text-primary rounded shadow hover:bg-button-hover hover:text-primary-hover hover:shadow-lg focus:outline-none active:bg-button-active transition ease-in-out duration-300">Generate Beat</button>
    <button class="w-full text-md px-6 py-2 bg-button text-primary rounded shadow hover:bg-button-hover hover:text-primary-hover hover:shadow-lg focus:outline-none active:bg-button-active transition ease-in-out duration-300">Generate Building</button>
    <button class="w-full text-md px-6 py-2 bg-button text-primary rounded shadow hover:bg-button-hover hover:text-primary-hover hover:shadow-lg focus:outline-none active:bg-button-active transition ease-in-out duration-300">Generate Item</button>
    <button class="w-full text-md px-6 py-2 bg-button text-primary rounded shadow hover:bg-button-hover hover:text-primary-hover hover:shadow-lg focus:outline-none active:bg-button-active transition ease-in-out duration-300">Rewrite</button>
    <button class="w-full text-md px-6 py-2 bg-button text-primary rounded shadow hover:bg-button-hover hover:text-primary-hover hover:shadow-lg focus:outline-none active:bg-button-active transition ease-in-out duration-300">Generate Character</button>
  </div>
</div>
