<div class="grid-container grid grid-cols-12 gap-6 m-4 h-screen">
  <div class="col-span-4 2xl:col-span-3">
    <app-chapter-organiser [chapters]="book?.chaptersInfo" [book]="book" [bookId] ="bookId || undefined"></app-chapter-organiser>
  </div>
  <div class="col-start-5 col-span-4 2xl:col-start-4 2xl:col-span-6">
    <app-text-editor [htmlContent]="chapter?.content || ''" [chapterInfo]="{id:chapterId || '',title:chapter?.title || ''}" [bookId]="bookId || ''"></app-text-editor>
  </div>
  <div class="col-start-9  col-span-3 flex flex-col gap-2 2xl:col-start-10 2xl:col-span-2">
    <app-button>Rewrite</app-button>
  </div>
</div>
