<div class="grid-container grid grid-cols-11 gap-6 m-4 h-screen">
  <div class="col-span-2">
    <app-chapter-organiser [chapters]="book?.chaptersInfo" [book]="book" [bookId] ="bookId || undefined"></app-chapter-organiser>
  </div>
  <div class="col-start-3 col-span-7">
    <app-text-editor [htmlContent]="chapter?.content || ''" [chapterInfo]="{id:chapterId || '',title:chapter?.title || ''}" [bookId]="bookId || ''"></app-text-editor>
  </div>
  <div class="col-start-10 flex flex-col gap-2 col-span-1">
    <app-button>Rewrite</app-button>
  </div>
</div>
