$base-font-size: 1em; // Base font size for paragraphs
$base-line-height: 1.6; // Base line height for better readability
$pre-font-size: 0.875em; // Font size for preformatted text

// Define a map for heading sizes
$heading-sizes: (
  h1: 2em,
  h2: 1.75em,
  h3: 1.5em,
  h4: 1.25em,
  h5: 1em,
  h6: 0.875em
);

// Iterate over each heading and apply styles
@each $tag, $size in $heading-sizes {
  #{$tag} {
    font-size: $size;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

// Style for paragraphs
p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: 1em; // Space after paragraphs
}

// Style for preformatted text
pre {
  font-size: $pre-font-size;
  line-height: $base-line-height;
}


ol{
  list-style-type: upper-roman;
  margin-left:1rem;
}

ul{
  list-style-type: disc;
  margin-left:1rem;
}




// Styling editor
// !important must be used at some places
angular-editor {
  
  .angular-editor-toolbar{
    padding: 0.5rem!important;
    display:flex;
    align-items: center;
  }
  
  .angular-editor-toolbar-set {
    display:flex;
    margin: 2px!important;
    &:empty{
      display:none!important;
    }
    .angular-editor-button:not([hidden]) {
      border-radius: 100%;
      color:black;
      background-color: transparent!important;
      border: 0px !important;
      display:flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;
      i {
        font-size:0.7rem;
      }
    }
    .angular-editor-button:not([hidden]):hover {
      background-color: rgba(0,0,0,0.1)!important;
    }
    ae-select .ae-picker-label{
      color:black!important;
    }
  }

  angular-editor-toolbar .angular-editor-toolbar {
    display:flex;
    align-items: center;
    background-color: white!important;
  }

  .angular-editor-textarea{
    resize: none!important;
  }

  ae-select {
    .ae-picker-options {
      border-bottom-left-radius: 0.7rem;
      border-bottom-right-radius: 0.7rem;
      overflow:hidden;
      border: 0!important; /* Border styling */
      .ae-picker-item{
        &:hover{
          background-color: lightblue!important;
          color: white!important;
        }
        &.selected{
          font-weight:700;
          background-color: lightblue!important;
          color: white!important;
        }
      }
    }
    button.ae-picker-label {
      background-color: white!important; 
      border: 0!important; 
      border-top : 15px; 
      z-index: 0;
      cursor: pointer; 
      &:focus{
        outline: none; /* Removes default focus outline */
        box-shadow:#0003 0 2px 8px;
      }
      &:hover{
        outline: none; /* Removes default focus outline */
        box-shadow:#0003 0 2px 8px;
      }
      
    }
  }
}