.u {
text-decoration: underline;

}

ol{
  list-style-type: upper-roman;
  margin-left:1rem;
}

ul{
  list-style-type: disc;
  margin-left:1rem;
}

// Styling editor
// !important must be used at some places

angular-editor {
  height:100%;
  .angular-editor-toolbar{
    padding: 0.5rem!important;
    display:flex;
    gap: 0.5rem;
  }
  .angular-editor-toolbar-set {
    display:flex;
    &:empty{
      display:none!important;
    }
    .angular-editor-button:not([hidden]) {
      border-radius: 100%;
      color:black;
      background-color: transparent!important;
      border: 0px !important;
      display:flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;  
    }
    .angular-editor-button:not([hidden]):hover {
      background-color: rgba(0,0,0,0.1)!important;
    }
    ae-select .ae-picker-label{
      color:black!important;
    }
  }
  angular-editor-toolbar .angular-editor-toolbar {
    display:flex;
    align-items: center;
    background-color: white!important;
  }
  .angular-editor-textarea{
    margin:0.5rem;
    resize: none!important;
  }
}