<angular-editor id="editor" [(ngModel)]="htmlContent" [config]="editorConfig"></angular-editor>
<button class="bg-indigo-500 p-2 m-1 text-white rounded hover:drop-shadow-lg duration-500" (click)="performRequest()">Suggest</button>
<button class="bg-indigo-500 p-2 m-1 text-white rounded hover:drop-shadow-lg duration-500" (click)="giveDifferentWording()">Provide different wording</button>

<!-- Generate new buttons for: brainstorming ideas, rephrase/rewrite(with options?), Add certain aspects to scene, grammar, spelling and punctuation corrections, Continue writing, 
-->
<!-- character creation,location creation,thing creation, categorical creation, song/poem/writing anything  -->

<!-- Story Bible -> Braindump, Genre, Style, Synopsis, Characters, Outline -->