$base-font-size: 1em; // Base font size for paragraphs
$base-line-height: 1.6; // Base line height for better readability
$pre-font-size: 0.875em; // Font size for preformatted text

// Define a map for heading sizes
$heading-sizes: (
  h1: 2em,
  h2: 1.75em,
  h3: 1.5em,
  h4: 1.25em,
  h5: 1em,
  h6: 0.875em
);


// Styling editor
// !important must be used at some places
angular-editor {
  
  .angular-editor-toolbar{
    
    @apply p-0 flex align-middle justify-center rounded-lg border-0 shadow-md border-border-color text-primary bg-default #{!important};
    .angular-editor-toolbar-set {
      @apply flex m-1 align-middle justify-center #{!important};
      &:nth-child(8),&:nth-child(9),&:nth-child(10){
        display:none!important;
      }
    .angular-editor-button:not([hidden]) {
        @apply text-primary border-0 flex justify-center items-center rounded-full aspect-square bg-transparent #{!important}; 
        i {
          font-size:0.6rem;
        }
      }
      .angular-editor-button:not([hidden]):hover {
        @apply bg-button #{!important};
      }
    }
    ae-select {
      @apply bg-transparent w-full mt-0.5 #{!important};
      .ae-picker-options {
        @apply rounded-b-xl shadow-lg border-0 #{!important};
        .ae-picker-item{
          @apply bg-div text-primary #{!important};
          &:hover{
            @apply bg-div text-primary #{!important};
          }
          &.selected{
            @apply bg-div text-accent font-bold #{!important};
          }
        }
      }
      button.ae-picker-label {
        @apply bg-default text-primary z-0 cursor-pointer border-0 pr-6 #{!important};
        &:focus{
          @apply outline-none shadow-md #{!important};
        }
        &:hover{
          @apply outline-none shadow-md #{!important};
        }
        &::before {
          display:none;
        }
      }
    }
  }
  .angular-editor-textarea{
    @apply p-6 bg-default text-primary shadow-md rounded-lg border-0 resize-y #{!important};
    &:focus {
      @apply outline-none #{!important};
    }
    &:active {
      @apply outline-none #{!important};
    }
    
  }
  .angular-editor-wrapper span {
    @apply left-3 top-4 absolute #{!important};
  }


// Iterate over each heading and apply styles
@each $tag, $size in $heading-sizes {
  #{$tag} {
    font-size: $size;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: 1em; // Space after paragraphs
}

pre {
  font-size: $pre-font-size;
  line-height: $base-line-height;
}


ol{
  list-style-type: upper-roman;
  margin-left:1rem;
}

ul{
  list-style-type: disc;
  margin-left:1rem;
}



}

