<div class="m-2 p-2">
  <div class="flex gap-1 justify-center items-center">
    <fa-icon [icon]="faBookOpen" class="text-xl"></fa-icon>
    <div *ngIf="!editingTitle" (click)="onTitleClick()" class="cursor-pointer">
      <p class="text-lg font-semibold">{{ bookName }}</p>
    </div>
    <input *ngIf="editingTitle" [(ngModel)]="bookName" (blur)="onTitleBlur()" 
           class="form-input border border-gray-300 rounded py-1 px-2 text-lg">
    <button (click)="importFiles()" class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">
      Import
    </button>
    <button (click)="addNewFile()" class="ml-2 bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-4 rounded">
      Add New
    </button>
  </div>
  <div class="m-2 flex flex-col" cdkDropList (cdkDropListDropped)="onDrop($event)">
    @for (file of files; track $index) {
      <div cdkDrag class="py-2 px-4 flex gap-1 bg-transparent font-semibold hover:bg-slate-200 text-gray-600 hover:text-black rounded hover:shadow-sm">
        <button>
          <fa-icon [icon]="faGripVertical"></fa-icon>
        </button>
        <fa-icon [icon]="faFileLines"></fa-icon>
        {{ file }}
        <button>
          <fa-icon [icon]="faEllipsisVertical"></fa-icon>
        </button>
      </div>
    } @empty {
      <div *ngIf="files.length === 0" class="text-center text-gray-600 mt-5">
        <fa-icon [icon]="faFolderOpen" class="text-3xl"></fa-icon>
        <p>No files yet. Click "Add New" to start!</p>
      </div>
    }
  </div>
</div>