<div class="p-4 border-2 border-border-color rounded-lg shadow-lg bg-default opacity-80">
  <app-project-title></app-project-title>
  <div class="m-2 flex flex-col border-2 border-border-color rounded-lg shadow-md" cdkDropList (cdkDropListDropped)="onDrop($event)">
    @for (chapter of chapters; track $index) {
        <app-project-chapter [title]="chapter"></app-project-chapter>
    } @empty {
      <div class="text-center text-primary my-8">
        <fa-icon [icon]="faFolderOpen" class="text-3xl"></fa-icon>
        <p>No files yet. Click "Add New" to start!</p>
      </div>
    }
  </div>
</div>