@tailwind base;
@tailwind components;
@tailwind utilities;
// Light Theme 
:root {
  --color-primary:#333333; //This is for text
  --color-primary-hover: #555555
  --color-primary-active: #777777
  --color-accent:#ffa726;
  --color-border:#d1d5db;
  --color-page:#fafafa;
  --color-div:#f0f0f0;
  --color-button:#dae0e6;
  --color-button-hover: #d0d4da;
  --color-button-active: #c2c6cc;
  --color-default: #ffffff;
  --font-family-sans: 'Inter', 'sans-serif';
  --font-family-serif: 'Merriweather', 'serif';
}

/* Dark theme overrides */
[data-theme='dark'] {
  --color-primary:#d0d0d0;
  --color-primary-hover: #e0e0e0;
  --color-primary-active: #f0f0f0;
  --color-accent:#e57373;
  --color-border:#4a4e52;
  --color-page:#232323;
  --color-div:#1d1d1d;
  --color-button:#3a3f44;
  --color-button-hover: #cc4747; 
  --color-button-active: #b04040;
  --color-default: #202020;
  --font-family-sans: 'Roboto', 'sans-serif';
  --font-family-serif: 'Lora', 'serif';
}
/* Focus theme overrides */
[data-theme='focus'] {
  --color-primary: #1b4b68;
  --color-primary-hover: #2A6A8A; 
  --color-primary-active: #3A89AC;
  --color-accent: #4CAF50;
  --color-border: #e1d0bc;
  --color-page: #e0fbfc;
  --color-div: #fbeddb;
  --color-button: #FF9800;
  --color-button-hover: #e68a00;
  --color-button-active: #cc7b00;
  --color-default: #e0fbfc;
  --font-family-sans: 'Open Sans', 'sans-serif'; 
  --font-family-serif: 'Lora', 'serif'; 
}
body {
  font-family: var(--font-family-sans);
}